ALTER PROCEDURE [dbo].[sp_ActualizarContra]
    @usuario NVARCHAR(15),
    @contrasena NVARCHAR(100),
    @fechacambio DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @id_usuario INT;

    SELECT @id_usuario = Id_Usuario
    FROM Usuarios
    WHERE Usuario = @usuario;

    INSERT INTO HistorialContrasenas (Id_Usuario, FechaCambio, Contrasena)
    VALUES (@id_usuario, @fechacambio, @contrasena);

    UPDATE Usuarios
    SET 
        Contrasena = @contrasena,
        FechaCambioContra = @fechacambio,
        CambioContra = ISNULL(CambioContra, 0) + 1
    WHERE Id_Usuario = @id_usuario;
END;
