USE [BD_GESTION]
GO
/****** Object:  StoredProcedure [dbo].[sp_CodigoPostal]    Script Date: 6/6/2025 20:42:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_CodigoPostal]
    @CodigoPostal INT
AS
    SELECT 
        l.Id_Localidad,
        p.Id_Partido,
        pr.Id_Provincia,
l.Localidad AS Localidades,
p.Partido AS Partidos,
pr.Provincia as Provincias

    FROM Localidades l
    INNER JOIN Partidos p ON l.Id_Partido = p.Id_Partido
    INNER JOIN Provincias pr ON p.Id_Provincia = pr.Id_Provincia
    WHERE l.Codigo_postal = @CodigoPostal;