USE [BD_GESTION]
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarPreguntas]    Script Date: 31/7/2025 13:42:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_ListarPreguntas]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        P.Id_Pregunta, 
        P.Pregunta
    FROM Preguntas P
    ORDER BY P.Id_Pregunta;
END;

