USE [BD_GESTION]
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerRestricciones]    Script Date: 27/5/2025 17:04:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_ObtenerRestricciones]
AS
BEGIN
    -- Habilitados
    SELECT 
        Id_Restriccion, Restriccion, Caracteres_Min, Activo, Id_Tipo
    FROM Restricciones
    WHERE Activo = 1;

    -- No habilitados
    SELECT 
        Id_Restriccion, Restriccion, Caracteres_Min, Activo, Id_Tipo
    FROM Restricciones
    WHERE Activo = 0;
END;
