USE [BD_GESTION]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarCliente]    Script Date: 30/11/2025 20:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_InsertarCliente]
    -- ===== CLIENTE =====
    @Codigo NVARCHAR(50),
    @RazonSocial NVARCHAR(150),
    @Email NVARCHAR(150),
    @FormaPago NVARCHAR(50),
    @Descuento DECIMAL(10,2),
    @LimiteCredito DECIMAL(10,2),

    -- ===== DIRECCIÓN =====
    @Direccion NVARCHAR(250) = NULL,
    @Localidad NVARCHAR(100) = NULL,
    @Provincia NVARCHAR(100) = NULL,

    -- ===== TELÉFONO =====
    @Telefono NVARCHAR(50) = NULL,
    @Contacto NVARCHAR(100) = NULL,
    @Sector NVARCHAR(100) = NULL,
    @Horario NVARCHAR(100) = NULL,
    @EmailContacto NVARCHAR(150) = NULL,

    
    @IdCliente INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        
        INSERT INTO Clientes
        (Codigo, RazonSocial, Email, FormaPago, Descuento, LimiteCredito, Activo)
        VALUES
        (@Codigo, @RazonSocial, @Email, @FormaPago, @Descuento, @LimiteCredito, 1);

        SET @IdCliente = SCOPE_IDENTITY();

        
        IF (@Direccion IS NOT NULL AND LTRIM(RTRIM(@Direccion)) <> '')
        BEGIN
            INSERT INTO ClienteDirecciones
            (IdCliente, Direccion, Localidad, Provincia, Activo)
            VALUES
            (@IdCliente, @Direccion, @Localidad, @Provincia, 1);
        END

        IF (@Telefono IS NOT NULL AND LTRIM(RTRIM(@Telefono)) <> '')
        BEGIN
            INSERT INTO ClienteTelefonos
            (IdCliente, Telefono, Contacto, Sector, Horario, EmailContacto, Activo)
            VALUES
            (@IdCliente, @Telefono, @Contacto, @Sector, @Horario, @EmailContacto, 1);
        END

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN;
        THROW;
    END CATCH
END
