USE [BD_GESTION]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarContra]    Script Date: 13/8/2025 21:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_ActualizarContra]
    @id_usuario INT,
    @contrasena NVARCHAR(100),
    @fechacambio DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Usuarios WHERE Id_Usuario = @id_usuario)
    BEGIN
        RAISERROR('El usuario no existe en la base de datos.', 16, 1);
        RETURN;
    END

    INSERT INTO HistorialContrasenas (Id_Usuario, FechaCambio, Contrasena)
    VALUES (@id_usuario, @fechacambio, @contrasena);

    UPDATE Usuarios
    SET 
        Contrasena = @contrasena,
        FechaCambioContra = @fechacambio,
        CambioContra = ISNULL(CambioContra, 0) + 1
    WHERE Id_Usuario = @id_usuario;
END
