USE [BD_GESTION]
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarContrasenas]    Script Date: 13/8/2025 21:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_BuscarContrasenas]
    @usuario NVARCHAR(15)
AS
BEGIN
    SELECT H.Id_Historial, H.Contrasena
    FROM Usuarios U
    INNER JOIN HistorialContrasenas H ON U.Id_Usuario = H.Id_Usuario
    WHERE U.Usuario = @usuario;
END